
.hover_effect {
    height:25%;
    width: auto; 
  }
   
  .hover_effect:hover {
    height: 100%;
    width: auto;
  }
  body{
    background-size: cover;
    background-repeat: no-repeat;
  }
  .bruce{
    background-image: url(Források/bruce.jpeg);
    background-image: auto;
    float: right;
    width: 1250px;
  }



