


.hover_effect {
    height:25%;
    width: auto; 
  }
   
  .hover_effect:hover {
    height: 100%;
    width: auto;
  }
  body{
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
  }
  .bruce{
    background-image: url(Források/bruce.jpeg);
    background-image: auto;
    float: right;
    width: 1250px;
  }
 .autokepjobb{
    float: right;
    width: 750px;
    text-align: center;
  }
.autokepbal{
float: left;
}



