

.hover_effect {
  height: 25%;
  width: auto;
}

.hover_effect:hover {
  height: 100%;
  width: auto;
}
body {
  background-size: cover;
  font-size: 20px;
  color: #333;
  text-align: left;
  background-color: rgb(250, 227, 218);
}
.bruce {
  background-image: url(Források/bruce.jpeg);
  background-image: auto;
  float: right;
  width: 1250px;
}
.autokepjobb {
  float: right;
  width: 750px;
  text-align: center;
}
.autokepbal {
  float: left;
}
.brucekep {
  float: right;
  width: 47vw;
  text-align: center;
}
.marlboro {
  width: 500px;
  float: left;
  text-align: center;
}
.kettoezer {
  text-align: left;
}


a {
  color: rgb(254, 126, 28);
}
a:active {
  color: rgb(255, 89, 0);
}
a:hover {
  color: rgb(226, 4, 4);
}



.szoveg {
  margin-left: 100px;
  margin-right: 800px;
  border-left: 4px solid rgb(255, 115, 0);
  padding: 40px;
}



.idezet {
  color: rgb(255, 115, 0);
}

.szoveg2 {
  border-left: 5px double red;
  padding: 15px;

}

.palya {
  border: 2px solid red;
  padding: 30px;
}

.card{
margin-left: auto;
margin-right: auto;
display: block;
}